<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Content management</title>        
        <#import "macro.html" as netCommon>
        <@netCommon.commonHead />
    </head>
    <body>
        <div class="content">
            <div class="header">header</div>
            <div class="left"><@netCommon.commonLeft /></div>
            <div class="right">right</div>
        </div>
    </body>
</html>
