<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Content management</title>        
        <#import "macro.html" as netCommon>
        <@netCommon.commonHead />
        <link rel="stylesheet" href="${request.contextPath}/statics/admin/css/manger.css"/>
    </head>
    <body>
        <div class="content">
            <div ><@netCommon.commonHeader /></div>
            <div class="container">
                <div class="left"><@netCommon.commonLeft /></div>
                <div class="right">right</div>
            </div>
        </div>
    </body>
</html>
